:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #ffffff;
    --text-color: #000000;
  }
  
  [data-theme="dark"] {
    --primary-color: #375a7f;
    --secondary-color: #444;
    --background-color: #343a40;
    --text-color: #ffffff;
  }
  
  