

#root {
  max-width: 100%;
  margin: 0 ;
  padding: 0;
  text-align: center;
}
/* Contenedor principal */
.app-container {
  display: flex;
  height: 100vh;
  background-color: var(--background-color);
}

/* Menú a la izquierda */
.menu-container {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Contenedor derecho (para la cuadrícula y los componentes) */
.right-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: all 0.3s ease;
}

/* Estado cuando un componente está en pantalla completa */
.right-container.fullscreen {
  width: 100%;
  height: 100vh;
  padding: 0;
}

/* Contenedor principal de la cuadrícula */
.main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  height: 100%;
}

/* Contenedores individuales de la cuadrícula */
.component-container {
  background-color: var(--secondary-color);
  border-radius: var(--cont-border-rad);
  padding: 0;
  box-shadow: 0 4px 8px var(--sahdow-style);
  transition: all 0.3s ease;
  position: relative;
}

/* Componente expandido a pantalla completa */
.component-container.expanded {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0;
  transition: 1s;
}

/* Ocultar componentes no expandidos cuando uno está en fullscreen */
.hidden {
  display: none;
}

/* Botón de full screen */
.fullscreen-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
}
