

#root {
  max-width: 100%;
  margin: 0 ;
  padding: 0;
  text-align: center;
}

.map-cont{
  position: absolute;
  top: 0;
  left: 0;

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100vh;
  z-index: 1;
}

.b-w-button{
  position: fixed;
  bottom: 1rem;
  right: 10px;
  z-index: 1000;
}
.on{
  fill: ghostwhite;
}
.off{
  fill: black;
}
