.zone-protect{
    stroke: unset;
    fill: orangered;
    fill-opacity: .3;
    cursor: unset;
}
.site-protect{
    stroke: red;
    fill: orangered;
    fill-opacity: 0;
}

.off-layer{
    display: none !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip, .leaflet-popup-close-button span{
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
}