/* Estilo para el contenedor de los controles de zoom */
.leaflet-control-zoom.leaflet-bar.leaflet-control {
    position: fixed; /* Fija el contenedor en la pantalla */
    bottom: var(--cont-btn-funt-espacingbottom); /* Ubica a 20px desde la parte inferior */
    right:var(--cont-btn-funt-espacingright); /* Ubica a 20px desde la parte derecha */
    border: none; /* Elimina el borde por defecto */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.522); /* Añade una sombra */
    background-color:  var(--primary-color) !important; /* Color de fondo del contenedor */
    border-radius: var(--cont-border-rad); /* Hace el contenedor circular o no*/
    padding: 5px; /* Añade espacio alrededor */
    display: flex; /* Flexbox para alinear los botones */
    flex-direction: column; /* Alinea los botones en columna */
    align-items: center; /* Centra los botones horizontalmente */
    width: calc(var( --cont-btn-funt-widht) - 3%);
    margin: 0;
}
  
  /* Estilo para los botones individuales de zoom */
.leaflet-control-zoom.leaflet-bar.leaflet-control a {
    background-color:  var(--primary-color) !important;/* Color de fondo del botón */
    color: var(--text-color) !important; /* Color del texto */
    width: 100%; /* Anchura del botón */
    height: var(--cont-btn-funt-height); /* Altura del botón */
    border-radius: var(--cont-border-rad); /* Hace el botón circular o cuadrado dependiendo el estilo general*/
    display: flex; /* Flexbox para centrar el contenido */
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    margin: 2px 0; /* Añade un margen entre los botones */
    font-size: var(--font-size-title); /* Tamaño de la fuente */
    border: none; /* Elimina el borde por defecto */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.522); /* Añade una sombra */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
 }
  
  /* Estilo para el botón de zoom al pasar el ratón */
.leaflet-control-zoom.leaflet-bar.leaflet-control a:hover {
    background-color:var(--primary-color) !important;; /* Color de fondo al pasar el ratón */
 }
  
 .sidebar-container {
  color: var(--text-color) !important;
  background-color: var(--primary-color) !important; /* ajustar según dia o noche */
  position: absolute;
  top: calc(3vh + var(--navbar-height)); /* ajustar según la altura del navbar */
  right: var( --cont-btn-funt-widht);
  width: calc(40% - var( --cont-btn-funt-widht)); /* ajustar el ancho según sea necesario */
  max-height: calc(100vh - (var(--navbar-height)*2)); /* ajustar según la altura del navbar */
  display: none; /* ocultar por defecto */
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0px 0px 9px 3px rgb(0 0 0 / 35%);
  border-radius: var(--cont-border-rad);
}

.sidebar-container.active {
  display: block;
}

/* Contenedor para los botones adicionales */
.leaflet-control-extra-buttons {
    position: fixed;
    width: calc(var( --cont-btn-funt-widht) - 3%); /* Ancho estandar para este menu */
    height: var( --cont-btn-funt-height); /* Altura estandar para este menu */
    bottom: calc(( var(--cont-btn-funt-espacingbottom) + var(--cont-btn-funt-height))*2); /* Ubica a 20px desde la parte inferior */
    right:var(--cont-btn-funt-espacingright); /* Ubica desde la parte derecha */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: calc(100vh - 20vh); /* Ajusta la altura máxima para permitir el desplazamiento si es necesario */
}

/* Estilo para los botones adicionales */
.leaflet-control-extra-buttons a {
  background-color: #007bff;
  color: white;
  width: 30px; /* Ajusta el tamaño del botón según sea necesario */
  height: 30px; /* Ajusta el tamaño del botón según sea necesario */
  border-radius: 50%; /* Hace el botón circular */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0; /* Añade un margen entre los botones */
  font-size: 18px; /* Ajusta el tamaño de la fuente */
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

/* Estilo para el botón al pasar el ratón */
.leaflet-control-extra-buttons a:hover {
  background-color: #0056b3;
}

.markerme{
  background-color: transparent;
  border: 0;
  width: 35px;
}
